.main-box {
            height: 100vh;
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .calculator-box {
            height: 490px;
            width: 350px;
            background-color: #5b7cb8;
            border-radius: 8px;
        }

        .screen-box {
            height: 100px;
            width: 320px;
            background-color: rgb(159, 185, 164);
            border-radius: 8px;
            margin-top: 20px;
            margin-left: 15px;
            font-size: 25px;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
        }

        .button-row-1 {
            height: 60px;
            width: 60px;
            margin-left: 20px;
            margin-top: 10px;
            border: none;
            background-color: rgb(105, 104, 104);
            color: wheat;
            font-size: 28px;
            border-radius: 100px;
        }

        .button-zero {
            height: 52px;
            width: 143px;
            margin-left: 20px;
            margin-top: 10px;
            border: none;
            background-color: rgb(105, 104, 104);
            color: wheat;
            font-size: 28px;
            border-radius: 10px;
        }

       